<section class="contact-us" >
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="header-section pb-3">
          <h3 class="title">Let's get in touch</h3>
            <p class="fs-5">MTC Renovations is a specialized business that has been focusing on basement renovations for over 10 years. We have developed a process that is customer-centric and tailored to meet the needs of each individual.</p>
          <div class="row g-4 fs-5">
            <div class="col-12 item"><img src="../../../assets/img/contact/phone.png"
                width="30" alt=""><span class="ps-3"><a href="tel:+1(647) 5601095">(647) 560-1095</a></span></div>
            <div class="col-12 item"><img src="../../../assets/img/contact/gmail-login.png"
                width="30" alt=""><span class="ps-3"><a href="mail:service@mtcrenovations.ca">service@mtcrenovations.ca</a></span></div>
                <div class="col-12 item"><img src="../../../assets/img/contact/domain.png"
                    width="30" alt=""><span class="ps-3"><a href="http://www.mtcrenovations.ca/" target="_blank">www.mtcrenovations.ca</a></span></div>
    
            <div class="col-12 item"><img src="../../../assets/img/contact/worldwide-location.png"
                width="30" alt=""><span class="ps-3"><a href="https://goo.gl/maps/bSXGshjPeryoqV4F9" target="_blank">6-12 Bradwick Dr. Concord, ON L4K 3P6</a></span></div>
          
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.7903109142458!2d-79.4834513!3d43.818708699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2e97c6ce0df9%3A0xc781da76760e0213!2s12%20Bradwick%20Dr%20%236%2C%20Concord%2C%20ON%20L4K%203P6%2C%20Canada!5e0!3m2!1sen!2sin!4v1680643875004!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
