.about-mtc{
    padding: 80px 0;
}

.request-a-quote{
    padding: 80px 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.536), rgba(0, 0, 0, 0.849)), url(../../../assets/img/kitchen/our-work/virtual-tour-327738-19.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  
    width: 100%;
}