<app-simple-navbar></app-simple-navbar>
<app-page-intro head="Join Our Team" subhead="We'd love to have more talented people on board"></app-page-intro>

<section class="about-us-info back-img ">
  <div class="container">
    <div class="row ">
      <div class="col-lg-5 mx-auto my-auto">
        <h1 class="mb-4 fs-1">Looking for More Than Just a Paycheck? MTC Has an Opportunity for You!
          <a href="https://podio.com/webforms/28496347/2276969" target="_blank" class="btn btn-vary1 mt-3">SUBMIT YOUR RESUME !</a>
        </h1>
      </div>
      <div class="col-lg-6 mx-auto my-auto fs-5">
        <p>Are you seeking a job that offers more than just a paycheck? Do you want to wake up every day looking forward
          to going to work? If you are a hardworking and responsible individual with a positive attitude, then MTC would
          like to hear from you! We are a company that values and supports its employees, and we are actively seeking
          individuals with diverse skills and expertise to work with us on either a full-time or contract basis.</p>
        <p>If you answered "yes" to any of these questions, MTC would like to speak with you. We are currently seeking
          individuals who are looking for more than just a job that pays the bills. At MTC, we value our employees and
          are dedicated to supporting their success. We are looking for hardworking, responsible individuals with
          positive attitudes who can bring their skills and expertise to our company. Whether you are looking for a
          full-time position or contract work, we would love to hear from you.</p>
      </div>
    </div>
  </div>
</section>

<section class="hiring">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">The values we place most highly</h3>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-xl-7 col-md-12 col-12 fs-5 bg-uniform pt-3 px-3 pt-md-5 px-md-5 text-left text-white py-5">
        <h3>What we provide to dedicated, diligent employees:</h3>
        <ul>
          <li>Fair remuneration</li>
          <li>A welcoming workplace where you'll want to spend each day </li>
          <li>Opportunities for growth</li>
          <li>Increased accountability for those who succeed</li>
          <li>Opportunities to improve existing skills or acquire new ones </li>
        </ul>
      </div>
      <div class="col-xl-5 col-md-12 col-12 bg-light pt-3 px-3 pt-md-5 px-md-5 text-left fs-5">
        <h3>Core Values:</h3>
        <ul>
          <li>Commitment to excellence</li>
          <li>Teamwork </li>
          <li>Accountability for mistakes</li>
          <li>Empathy and customer service</li>
          <li>Passion for work</li>
          <li>Dedication to delivering on promises</li>
          <li>Consistent on-time delivery</li>
        </ul>
      </div>
    </div>
  </div>

</section>

<section class="ideal-candidate">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">Traits of Ideal Candidates</h3>
        </div>
      </div>
    </div>
    <div class="row g-3 fs-5 text-center justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <img
          src="../../../assets/img/careers/high-positive-energy.avif"
          width="100%" alt="">
        <p class="text-center">High positive energy</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <img src="../../../assets/img/careers/resourceful.jpg" width="100%" alt="">
        <p class="text-center">Resourcefulness in problem-solving and improving processes</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <img src="../../../assets/img/careers/punctual.avif" width="100%" alt="">
        <p class="text-center">Punctuality and commitment to follow through</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">

        <img src="../../../assets/img/careers/strong-work-ethics.jpg" width="100%" alt="">
        <p class="text-center">Strong work ethic</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <img src="../../../assets/img/careers/teamplayer.jpg" width="100%"
          alt="">
        <p class="text-center">Ability to work both independently and in a team</p>
      </div>
      <div>
        <a href="https://podio.com/webforms/28496347/2276969" target="_blank" class="btn btn-vary1 mt-3">SUBMIT YOUR RESUME !</a>
      </div>
    </div>
  </div>
</section>



<app-contact-us></app-contact-us>
