<section class="navigation">
  <nav class="navbar sticky-top navbar-expand-lg  py-3 ">
      <div class="container-fluid">
          <div class="logo my-auto">
              <a href="#"><img src={{logo}}  alt="MTC Renovation" width="100"  alt="Logo"></a>
          </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> MENU</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link px-2 mx-2 text-center" href="painting"><img src="https://img.icons8.com/ios/256/home.png" width="25" alt="" srcset=""> <br>Home</a></li>
                    
                    <li class="nav-item"><a class="nav-link px-2 mx-2 text-center" href="painting/how-it-works"><img src="https://img.icons8.com/ios/256/how-quest--v2.png" width="25" alt=""><br> How it works</a></li>
                    
                    <li class="nav-item"><a class="nav-link px-2 mx-2 text-center" href="painting/our-work"><img src="https://img.icons8.com/ios/256/safety-hat.png" width="25" alt="" srcset=""> <br>Our Work</a></li>
                    
                    <li class="nav-item"><a class="nav-link px-2 mx-2 text-center" href="painting/careers"><img src="https://img.icons8.com/ios/256/find-matching-job.png" width="25" alt=""> <br> Careers</a></li>
                    <li class="nav-item"><a class="nav-link px-2 mx-2 text-center" href="painting/about-us"><img src="https://img.icons8.com/ios/256/info.png" width="25" alt=""> <br> About Us</a></li>
                  <li class="nav-item"><a class="nav-link px-2 mx-2 text-center" href="painting/why-mtc"><img src="https://img.icons8.com/wired/256/question-mark.png" width="25" alt=""> <br> Why MTC?</a></li>
                  <li class="nav-item dropdown text-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://img.icons8.com/wired/256/more.png" width="25" alt=""> 
                      <br> Other Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="basement"><img src="https://img.icons8.com/ios/256/basement.png" width="25" alt=""> Basement</a></li>
                      <li><a class="dropdown-item" href="bathroom"><img src="https://img.icons8.com/external-phatplus-lineal-phatplus/256/external-bathroom-bathroom-phatplus-lineal-phatplus-2.png" width="25" alt=""> Bathroom</a></li>
                      <li><a class="dropdown-item" href="kitchen"><img src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/256/external-kitchen-furniture-kmg-design-detailed-outline-kmg-design.png" width="25" alt=""> Kitchen</a></li>
                      <li><a class="dropdown-item" href="flooring"><img src="https://img.icons8.com/ios/256/staircase.png" width="25" alt=""> Flooring/Stairs</a></li>
                      <li><a class="dropdown-item" href="painting"><img src="https://img.icons8.com/ios/256/roller-brush--v1.png" width="25" alt=""> Painting</a></li>
                 
                    </ul>
                  </li>
                </ul>
               <div class="free-consult-button text-center"><a href="painting/get-free-quote"  class="btn btn-vary1 ">Free consultation</a></div>
            </div>
        </div>
    </nav>
</section>
