

<app-kitchen-navbar></app-kitchen-navbar>
<section class="bathroom">
  <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center intro-cont" data-scrollax-parent="true">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-left">
        <h1 class="mb-4">KITCHEN Renovations</h1>
        <h2 class="subheading mb-4">We are a Reputed Kitchen Renovation Company That will Assist you in Making Your Kitchen More Modern and Refined.
        </h2>
        <!-- <a href="#services">
          <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a> -->
      </div>
      <div class="col-xl-5 col-lg-5  col-md-12 col-sm-12 col-12 ">
        <div class="get-quote-form p-4 text-center">
          <form #getaQuoteForm="ngForm" (ngSubmit)="quoteFormData(getaQuoteForm)" class="needs-validation"
            novalidate="">
            <div class="text-center mb-3">
              <h4>GET A FREE ESTIMATE TODAY</h4>

            </div>

            <div class="row g-3">
              <div class="col-sm-12 ">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control"  autocomplete="new-password" id="floatingInput" name="yourName" #yourNameRef="ngModel"
                    ngModel required #nameInput />
                  <label for="floatingInput">Your Name</label>
  
                </div>
                <div *ngIf="yourNameRef.errors && (yourNameRef.dirty || yourNameRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!yourNameRef.errors">
                    <p>&nbsp;Your Name is mandatory</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
  
                <div class="form-floating mb-3">
                  <input type="email" class="form-control"  autocomplete="new-password" id="floatingInput" name="email" #emailAdderssRef="ngModel"
                    ngModel required #emailInput />
                  <label for="floatingInput">Email</label>
                </div>
                <div *ngIf="emailAdderssRef.errors && (emailAdderssRef.dirty || emailAdderssRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!emailAdderssRef.errors">
                    <p>&nbsp;Email is mandatory</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
  
                <div class="form-floating mb-3">
  
                  <input type="tel" class="form-control"  autocomplete="new-password" name="phoneNumber" id="phoneNumber" #phoneNumberRef="ngModel"
                    ngModel [inputMask]="quotePhoneNumberInputMask" required #phoneInput>
                  <label for="floatingInput">Phone Number</label>
                </div>
                <div *ngIf="phoneNumberRef.errors && (phoneNumberRef.dirty || phoneNumberRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!phoneNumberRef.errors">
                    <p>&nbsp;Phone Number is mandatory</p>
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input class="form-control" id="floatingInput"  autocomplete="new-password" ngx-google-places-autocomplete [options]="options"
                    (onAddressChange)="handleAddressChange($event)" name="address" #addressRef="ngModel" ngModel
                    required="" #addressInput />
                  <label for="floatingInput">Address</label>
  
                </div>
                <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!addressRef.errors">
                    <p>&nbsp;Address is mandatory</p>
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <div class="form-floating">
  
                  <select class="form-select " name="serviceReq" id="floatingSelect"
                    aria-label="Floating label select example" required="" (change)="selectChangeHandler1($event)">
  
                    <option *ngFor="let opt of this.getAQuoteServicesReq" [value]="opt.label"
                      [selected]="opt.status == true" [disabled]="opt.label == 'Choose From Below'">
                      {{opt.label}}</option>
                  </select>
                  <div id="renovationReq">
                    <span class="pe-2 me-2" *ngFor="let revReq of this.selectedServiceRequiredGetQuote; let ind = index"
                      id="removeRev{{ind}}" id="">{{revReq}} <i class="fa fa-trash" aria-hidden="true"
                        (click)="removeRev(ind,revReq)"></i></span>
                  </div>
  
                  <label for="floatingSelect">Renovation(s) Required</label>
  
                </div>
  
              </div>
              <button type="submit" class="btn btn-vary1 mt-3" [disabled]="!getaQuoteForm.form.valid || this.selectedServiceRequiredGetQuote.length == 0">GET A FREE
                ESTIMATE</button>
            </div>

          </form>
        </div>
        <div class="free-quote-modal">
          <a href="kitchen/get-free-quote"  class="btn btn-vary1 ">Free consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bathroom-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-12 text-center justify-content-center">
        <h1 class="text-uppercase">Instant design ideas and <br> quotes for kitchens </h1>
        <h3 class="mt-3">Directly from the convenience of your house. Imagine your new kitchen right now!</h3>
        <p class="fs-5 mt-3 text-center">We at MTC Kitchen Renovations strive to make the process of designing and renovating your kitchen as smooth as we can. Design your kitchen with the help of our experts who can provide recommendations based on your specific needs. The days of traveling to numerous showrooms to complete your kitchen renovations are long gone. We deliver all the supplies right to your door so you can focus your time on more crucial tasks.

        </p>

        <a href="kitchen/get-free-quote" class="btn btn-vary1 mt-3">Get Started</a>
      </div>
    </div>
  </div>
</section>


<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">How It Works</h3>
        </div>
      </div>
    </div>
    <div class="row g-3 fs-5 text-center justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/kitchen/home-one-design.png" class="mb-3" alt="">
        <h3  class="text-capitalize pb-2 fw-bold">Design Your kitchen Effortlessly</h3>
        <p class="text-center">Design your kitchen with the help of our experts who can provide recommendations based on your specific needs and receive an immediate quote in less than 5 minutes.
        </p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/kitchen/home-two-material.png" class="mb-3" alt="">
        <h3  class="text-capitalize pb-2 fw-bold">Supplies at Your Door
        </h3>
        <p class="text-center">To allow you to see and touch all fixtures and finishes, we transport all materials to your house. Stop wasting time traveling to various shops.

        </p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/kitchen/home-three-kitchen-renovation.png" class="mb-3" alt="">
        <h3 class="text-capitalize pb-2 fw-bold">Start of kitchen renovations</h3>
        <p class="text-center">Within three weeks, our team of highly skilled professionals will start remodeling your kitchen precisely as you had envisioned.</p>
      </div>
    </div>
  </div>
</section>



<app-testimonials></app-testimonials>

<section class="ready-to-get-started">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-lg-0 mb-4 fs-5">
        <div class="header-section">
          <h3 class="title ">Are you prepared to begin?</h3>
          <h2 class="small-title ">Selecting MTC Renovations ensures..</h2>

          <ul class="">
            <li>Comfortable Installation from the Convenience of Your Home</li>
            <li>10+ Years of Guaranteed Expertise</li>
            <li>Guaranteed Three-Week Installation</li>
            <li>Unlimited 5-Year Warranty

            </li>
          </ul>
          <a href="kitchen/get-free-quote" class="btn btn-vary1 mt-3">GET A FREE ESTIMATE</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
        <!-- <img src="../../../assets/img/ad-man.png" alt=""> -->
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>