<app-kitchen-navbar></app-kitchen-navbar>
<app-page-intro head="How it works" subhead="The Process"></app-page-intro>


<section class="how-it-works">
  <div class="container">
    <div class="row fs-5 g-4">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">1.</span> Provide Information
        </h3>
        <p>Start by answering a few questions about your current kitchen so we can learn more about it.</p>
        <img src="../../../assets/img/kitchen/one-start-about.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">2.</span> Choose Your Finishings
        </h3>
        <p>Take a look at our selection of luxurious finishes and select the fixtures and features that you like the most.</p>
        <img src="../../../assets/img/kitchen/two-browse-finishing.jfif" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">3.</span> Design your ideal kitchen
        </h3>
        <p>Mix and match components for your kitchen and design it to your exact specifications.</p>
        <img src="../../../assets/img/kitchen/three-dream-kitchen.jpeg" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">4.</span> Get Your Quote
        </h3>
        <p>Once your kitchen plan is complete, you'll receive a quote instantly.
        </p>
        <img src="../../../assets/img/kitchen/four-instant-quote.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">5.</span> Schedule a Start Date
        </h3>
        <p>Select a date that suits you best so that our remodeling crew can begin.</p>
        <img src="../../../assets/img/kitchen/five-start-date.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">6.</span> Delivery of Supplies
        </h3>
        <p>All materials and fixtures will be delivered to your doorstep, allowing you to make any final adjustments before construction starts.
        </p>
        <img src="../../../assets/img/kitchen/six-material.jpg" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">7.</span> Start of construction
        </h3>
        <p>Our expert craftspeople will start building your new kitchen and ensure it is finished on time and within budget.</p>
        <img src="../../../assets/img/kitchen/seven-construction.jpeg" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">8.</span> Enjoy Your New Kitchen
        </h3>
        <p>Sit back and enjoy your newly renovated kitchen that was built to your exact specifications.</p>
        <img src="../../../assets/img/kitchen/eight-enjoy.jpeg" width="100%" alt="">
      </div>

    </div>
  </div>
</section>



<section class="our-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center">
          <div class="header-section pb-3">
            <h3 class="title">Design your Dream Kitchen</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center mb-3">
        <div class="col-xl-10 col-12">
            <p class="fs-5 text-center">Start creating your ideal kitchen by selecting fixtures, flooring, and finishes that suit your taste and needs based on your kitchens dimensions.
            </p>
        </div>
      </div>
    </div>
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-one h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Cabinets</h1>
  
            <div class="fs-5 pt-3">
              <p>Choose from a wide selection of cabinet door styles and kitchen features to personalize your kitchen design.  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute right-half-two h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 py-5 pe-lg-5">
            <h1>Countertops</h1>
  
            <div class="fs-5 pt-3">
              <p>From granite to marble and quartz, we offer several countertop options to create your dream kitchen. Pick from a vast range of colors and patterns to achieve the perfect look.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-three h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Sinks</h1>
  
            <div class="fs-5 pt-3">
              <p>Select from our popular sink designs to find the one that fits your needs. The sink is one of the most frequently used appliances in your home, so it's essential to choose the right one.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute right-half-four h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 py-5 pe-lg-5">
            <h1>Faucets</h1>
  
            <div class="fs-5 pt-3">
              <p>Choose from various faucet styles, including transitional, traditional, and contemporary, to match your sink and achieve the perfect look for your kitchen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-five h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Tiles</h1>
  
            <div class="fs-5 pt-3">
              <p>Explore our ready-to-order tiles and carpets and mix and match to find the perfect combination. With our 3D Creator, you can quickly change the tile options and see how your design changes. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

   
  </section>

  <section class="request-a-quote">
    <div class="container">
      <div class="row d-flex  justify-content-center vh-100  align-items-center white">
        <div class="col-md-10 col-12 text-center justify-content-center ">
            <div>
          <h1 class="text-uppercase">Enjoy Your New Kitchen</h1>
          <p class="fs-5 mt-3 text-center">
            Once your dream kitchen is complete, it's time to sit back and enjoy your new space!
          </p>
       
          <a href="kitchen/get-free-quote" class="btn btn-vary1 mt-3">Get a FREE ESTIMATE</a>
         </div>
        </div>
      </div>
    </div>
  </section>
  
<app-contact-us></app-contact-us>