

<app-flooring-navbar></app-flooring-navbar>
<section class="bathroom">
  <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
    <div class="row container d-flex justify-content-right align-items-center intro-cont " data-scrollax-parent="true">
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 text-left">
        <h1 class="mb-4">Flooring MTC </h1>
        <h2 class="subheading mb-4">Our Licensed Installers are Renowned for their Dedication to Quality.</h2>
        <!-- <a href="#services">
          <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a> -->
        <a href="newleadintake"  target="_blank" class="btn btn-vary1" target="_blank">GET A FREE ESTIMATE</a>
      </div>
  
    </div>
  </div>
</section>

<section class="bathroom-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12 text-center justify-content-center">
        <h1 class="text-uppercase">Savor your brand-new dream floors</h1>
        <h3 class="mt-3">We'll be delighted to meet with you and give you a detailed estimate for your flooring project from one of our flooring consultants.</h3>

        <a href="newleadintake" class="btn btn-vary1 mt-3">Ask for a FREE ESTIMATE</a>
      </div>
    </div>
  </div>
</section>


<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">How It Works</h3>
        </div>
      </div>
    </div>
    <div class="row g-3 fs-5 text-center justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/flooring/home-one-free-quote.png"  class="mb-3" alt="">
        <h3 class="pb-2 fw-bold">Get a Free Estimate</h3>
        <p class="text-center">One of our flooring consultants will be happy to meet with you and provide you with adetailed quote for your flooring project.</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/flooring/home-two-pickuourfinishes.png"   class="mb-3" alt="">
        <h3 class="pb-2 fw-bold">Decide On Your Finishes</h3>
        <p class="text-center">We deliver all options and flooring types to your house so you can choose your favorite flooring, including hardwood, engineered hardwood, vinyl, laminate, and carpet.</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/flooring/home-three-installation.png"   class="mb-3" alt="">
        <h3 class="pb-2 fw-bold">Work Starts</h3>
        <p class="text-center">We take out all of the old flooring and check the subfloor to make sure your new flooring will appear and feel brand new even ten years after installation.

        </p>
      </div>
     
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>


<section class="ready-to-get-started">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-lg-0 mb-4 fs-5">
        <div class="header-section">
          <h3 class="title ">Are you prepared to begin?</h3>
          <h2 class="small-title ">Selecting MTC Renovations ensures..</h2>

          <ul class="">
            <li>Comfortable Installation from the Convenience of Your Home</li>
            <li>10+ Years of Guaranteed Expertise</li>
            <li>Guaranteed Three-Week Installation</li>
            <li>Unlimited 5-Year Warranty

            </li>
          </ul>
          <a href="newleadintake" class="btn btn-vary1 mt-3">GET A FREE ESTIMATE</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
        <!-- <img src="../../../assets/img/ad-man.png" alt=""> -->
      </div>
    </div>
  </div>
</section>


<app-contact-us></app-contact-us>