

<app-painting-navbar></app-painting-navbar>
<section class="bathroom">
  <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
    <div class="row container d-flex justify-content-right align-items-center intro-cont " data-scrollax-parent="true">
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 text-left">
        <h1 class="mb-4">Interior Painting Services </h1>
        <h2 class="subheading mb-4">We Take Care of all the Prep Work, Painting, and After-Job Cleaning.</h2>
        <!-- <a href="#services">
          <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a> -->
        <a href="newleadintake"  target="_blank" class="btn btn-vary1" target="_blank">GET A FREE ESTIMATE</a>
      </div>
      
    </div>
  </div>
</section>

<section class="bathroom-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12 text-center justify-content-center">
        <h1 class="text-uppercase">Certified and Insured Professional Painters</h1>
        <h3 class="mt-3">To provide your home with a fresh appearance, we only use the best paint!  </h3>
       
        <p class="fs-5 mt-3 text-center">MTC Painting's interior painters have years of experience in the field and are certified and insured. We have the necessary skills to prepare your walls, trim, and doors for excellent execution. The team will bring all the tools and materials required to complete the job properly.  </p>
        <a href="newleadintake" class="btn btn-vary1 mt-3">Ask for a FREE ESTIMATE</a>
      </div>
    </div>
  </div>
</section>


<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">How It Works</h3>
        </div>
      </div>
    </div>
    <div class="row g-3 fs-5 text-center justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/painting/home-one-schedule.png" class="mb-3" alt="">
        <h3 class="pb-2 fw-bold">Schedule a Free Consultation</h3>
        <p class="text-center">
          Our team of painting professionals will be pleased to provide you with a comprehensive quote after you schedule a free consultation.
          </p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/kitchen/home-two-material.png" class="mb-3" alt="">
        <h3 class="pb-2 fw-bold">Choose Your Paint Colors</h3>
        <p class="text-center">After you have reviewed and approved your quote, our expert design team will collaborate with you to choose the ideal color scheme for your home.</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/kitchen/home-three-kitchen-renovation.png" class="mb-3" alt="">
        <h3 class="pb-2 fw-bold">Painting Process</h3>
        <p class="text-center">
          Our team takes care of all the preparation work, including covering surfaces, filling in cracks and holes in walls with high-quality self-priming compound, and sanding walls. After the job is finished, we also handle the cleanup.
          </p>
      </div>
     
    </div>
  </div>
</section>


<app-testimonials></app-testimonials>


<section class="ready-to-get-started">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-lg-0 mb-4 fs-5">
        <div class="header-section">
          <h3 class="title ">Are you prepared to begin?</h3>
          <h2 class="small-title ">Selecting MTC Renovations ensures..</h2>

          <ul class="">
            <li>Comfortable Installation from the Convenience of Your Home</li>
            <li>10+ Years of Guaranteed Expertise</li>
            <li>Guaranteed Three-Week Installation</li>
             <li>Unlimited 5-Year Warranty

            </li>
          </ul>
          <a href="newleadintake" class="btn btn-vary1 mt-3">GET A FREE ESTIMATE</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
        <!-- <img src="../../../assets/img/ad-man.png" alt=""> -->
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>