<app-simple-navbar></app-simple-navbar>
<app-page-intro head="Our Clients" subhead="Customer Testimonials"></app-page-intro>

<section class="our-clients">
  <div class="container">
    <!-- 1 -->
    <div class="row g-3 justify-content-center">
      <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
        <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
      </div>
      <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
      <div>
        <h3>Emily and John</h3>
        <p>We are absolutely thrilled with our basement renovation! The service was friendly and approachable, and we
          highly recommend MTC Renovations for their excellent work.</p>

      </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Jacob Taylor</h3>
          <p>We had read great reviews about MTC Renovations, and we were not disappointed. The customer service experience was fantastic from start to finish. Highly recommended.</p>
  
        </div>
        </div>
      </div>
      <!-- 3 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Olivia Williams</h3>
          <p>Wow, MTC Renovations exceeded all our expectations! They provided incredible service and top-quality work. We would recommend them to all of our friends and family.</p>
  
        </div>
        </div>
      </div>
      <!-- 4 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Sophie and Emma</h3>
          <p>Working with MTC Renovations was a breeze! They were easy to work with and offered very reasonable prices. The final result was a beautifully renovated basement that we love.</p>
  
        </div>
        </div>
      </div>
      <!-- 5 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Ryan Lee</h3>
          <p>I was pleasantly surprised by the affordable price and quick turnaround time from MTC Renovations. The workmanship was top-notch, and I would highly recommend them to anyone.</p>
  
        </div>
        </div>
      </div>
      <!-- 6 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Grace Johnson</h3>
          <p>MTC Renovations provides the best possible value for the money. The staff was extremely professional, and the workmanship was excellent. I recommend them to everyone.</p>
  
        </div>
        </div>
      </div>
      <!-- 7 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Tyler and Samantha</h3>
          <p>We were blown away by the craftsmanship and service provided by MTC Renovations. The price was also very reasonable. We highly recommend them to anyone looking to renovate their basement.</p>
  
        </div>
        </div>
      </div>
      <!-- 8 -->
    <div class="row mt-3 g-3 justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-12 ">
          <img src="https://agmbasements.com/static/media/Cristiano-Maria2.a7ac3693.jpg" alt="">
        </div>
        <div class="col-10 col-lg-10 col-md-8 col-12 d-flex justify-content-center align-items-center fs-5">
        <div>
          <h3>Connor Davis</h3>
          <p>After receiving multiple quotes, we chose MTC Renovations because of their price and fast delivery time. We are so glad we did—we now have a beautiful basement to enjoy.</p>
  
        </div>
        </div>
      </div>
     
    
  </div>
</section>
