<section class="home ">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: transparent;">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/logo.png" alt="MTC Renovation" width="140" class="">
                </a>
                <div class="navbar-text ms-auto d-none d-lg-block">
                    <a href="tel:(844) 816-9473"><img src="https://img.icons8.com/ios/256/ringer-volume.png" width="25"
                            alt=""><span class="ps-2 fs-5">(844) 816-9473</span></a>
                </div>
            </div>
        </nav>

    </header>
    <div class="bg_container">
        <div class="gradient"></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="container mb-5">
        <div class="mt-3">
            <div class="row">
                <div class="col ">
                    <div class="header-section mb-5">
                        <h1 class="title text-center">What are you renovating?</h1>
                    </div>
                </div>

            </div>
            <div class="row g-4">
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class="text-center">
                        <div class="img-outer">
                            <a href="basement">
                                <img src="https://agmrenovations.com/static/media/basement.10ffb6d7.svg"
                                    class="img-fluid border border-2 " alt="">
                            </a>

                        </div>
                        <h5 class="pt-3">Basement Renovation</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">

                        <div class="img-outer">
                            <a href="">

                            </a>
                            <img src="https://agmrenovations.com/static/media/bathroom.d27dc514.svg"
                                class="img-fluid border border-2 " alt="">
                        </div>
                        <h5 class="pt-3">Bathroom Renovation</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/kitchen.8892e9c1.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Kitchen Renovation</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/new-roofing.3f29d0a9.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Roofing</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/flooring.49c5fe75.svg"
                                    class="img-fluid border border-2 " alt="">
                            </a>

                        </div>

                        <h5 class="pt-3">Flooring/Stairs</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/painting.926ade60.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Painting</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/windows.5fb33b37.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Windows</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/coverings.3918b108.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Window Covering</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>