<section class="home mb-5">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: transparent;">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo/png_01.png" alt="MTC Renovation" width="100" class="">
        </a>
        <div class="navbar-text ms-auto d-none d-lg-block">
          <a href="tel:+1(647) 5601095"><img src="https://img.icons8.com/ios/256/ringer-volume.png" width="25"
              alt=""><span class="ps-2 fs-4">(647) 560-1095</span></a>
        </div>
      </div>
    </nav>

  </header>
  <div class="bg_container">
    <div class="gradient"></div>
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="container mb-5">
    <div class="mt-3">
      <div class="row">
        <div class="col ">
          <div class="header-section mb-5">
            <h1 class="title text-center">What are you renovating?</h1>
          </div>
        </div>

      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class="text-center">
            <div class="img-outer">
              <a href="basement">
                <img src="../../../assets/img/home/home.png" class="img-fluid border border-2 " alt="">
              </a>

            </div>
            <h5 class="pt-3">Basement</h5>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">

            <div class="img-outer">
              <a href="bathroom">
                <img src="../../../assets/img/home/bathtub-cleaning.png" class="img-fluid border border-2 " alt="">
              </a>

            </div>
            <h5 class="pt-3">Bathroom </h5>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">
            <div class="img-outer">
              <a href="kitchen">
                <img src="../../../assets/img/home/kitchen-sink.png" class="img-fluid border border-2 " alt="">

              </a>

            </div>

            <h5 class="pt-3">Kitchen </h5>
          </div>
        </div>
        <!-- <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/new-roofing.3f29d0a9.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Roofing</h5>
                    </div>
                </div> -->
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">
            <div class="img-outer">
              <a href="flooring">
                <img src="../../../assets/img/home/stairs.png" class="img-fluid border border-2 " alt="">
              </a>

            </div>

            <h5 class="pt-3">Flooring/Stairs</h5>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">
            <div class="img-outer">
              <a href="painting">
                <img src="../../../assets/img/home/paint-roller.png" class="img-fluid border border-2 " alt="">

              </a>

            </div>

            <h5 class="pt-3">Painting</h5>
          </div>
        </div>
        <!-- <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/windows.5fb33b37.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Windows</h5>
                    </div>
                </div> -->
        <!-- <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/coverings.3918b108.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Window Covering</h5>
                    </div>
                </div> -->
      </div>

    </div>

  </div>
  <div class="d-flex justify-content-center aligm-items-center ">
    <a href="newleadintake" class="btn btn-vary1" target="_blank">GET A FREE ESTIMATE</a>
    <!-- <button type="button" class="btn btn-vary1" data-bs-toggle="modal" data-bs-target="#exampleModal">
      GET A FREE ESTIMATE
    </button> -->
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">GET A FREE ESTIMATE TODAY</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 50vh;">
<iframe src="https://mtcleadforms.netlify.app/newleadintake.html" title="W3Schools Free Online Web Tutorials" width="100%" height="100%"></iframe>    
      </div>

    </div>
  </div>
</div>

<div class="icon-bar">
  <a href="tel:+1(647) 5601095" class="phone"><i class="fa fa-phone"></i></a>
</div>
