<section class="home mb-5">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: transparent;">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo.png" alt="MTC Renovation" width="250" class="">
        </a>
        <div class="navbar-text ms-auto d-none d-lg-block">
          <a href="tel:+1(647) 5601095"><img src="https://img.icons8.com/ios/256/ringer-volume.png" width="25"
              alt=""><span class="ps-2 fs-4">(647) 560-1095</span></a>
        </div>
      </div>
    </nav>

  </header>
  <div class="bg_container">
    <div class="gradient"></div>
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="container mb-5">
    <div class="mt-3">
      <div class="row">
        <div class="col ">
          <div class="header-section mb-5">
            <h1 class="title text-center">What are you renovating?</h1>
          </div>
        </div>

      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class="text-center">
            <div class="img-outer">
              <a href="basement">
                <img src="../../../assets/img/home/home.png" class="img-fluid border border-2 " alt="">
              </a>

            </div>
            <h5 class="pt-3">Basement</h5>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">

            <div class="img-outer">
              <a href="bathroom">
                <img src="../../../assets/img/home/bathtub-cleaning.png" class="img-fluid border border-2 " alt="">
              </a>

            </div>
            <h5 class="pt-3">Bathroom </h5>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">
            <div class="img-outer">
              <a href="kitchen">
                <img src="../../../assets/img/home/kitchen-sink.png" class="img-fluid border border-2 " alt="">

              </a>

            </div>

            <h5 class="pt-3">Kitchen </h5>
          </div>
        </div>
        <!-- <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/new-roofing.3f29d0a9.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Roofing</h5>
                    </div>
                </div> -->
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">
            <div class="img-outer">
              <a href="flooring">
                <img src="../../../assets/img/home/stairs.png" class="img-fluid border border-2 " alt="">
              </a>

            </div>

            <h5 class="pt-3">Flooring/Stairs</h5>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-12 col-12">
          <div class=" text-center">
            <div class="img-outer">
              <a href="painting">
                <img src="../../../assets/img/home/paint-roller.png" class="img-fluid border border-2 " alt="">

              </a>

            </div>

            <h5 class="pt-3">Painting</h5>
          </div>
        </div>
        <!-- <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/windows.5fb33b37.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Windows</h5>
                    </div>
                </div> -->
        <!-- <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                    <div class=" text-center">
                        <div class="img-outer">
                            <a href="">
                                <img src="https://agmrenovations.com/static/media/coverings.3918b108.svg"
                                    class="img-fluid border border-2 " alt="">

                            </a>

                        </div>

                        <h5 class="pt-3">Window Covering</h5>
                    </div>
                </div> -->
      </div>

    </div>

  </div>
  <div class="d-flex justify-content-center aligm-items-center ">
    <button type="button" class="btn btn-vary1" data-bs-toggle="modal" data-bs-target="#exampleModal">
      GET A FREE ESTIMATE
    </button>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">GET A FREE ESTIMATE TODAY</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #getaQuoteForm="ngForm" (ngSubmit)="quoteFormData(getaQuoteForm)" class="needs-validation" novalidate="">


          <div class="row g-3">
            <div class="col-sm-12 ">

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="yourName" #yourNameRef="ngModel"
                  ngModel required />
                <label for="floatingInput">Your Name</label>

              </div>
              <div *ngIf="yourNameRef.errors && (yourNameRef.dirty || yourNameRef.touched)"
                style="text-align:left; color:red;">
                <div [hidden]="!yourNameRef.errors">
                  <p>&nbsp;Your Name is mandatory</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email" #emailAdderssRef="ngModel"
                  ngModel required />
                <label for="floatingInput">Email</label>
              </div>
              <div *ngIf="emailAdderssRef.errors && (emailAdderssRef.dirty || emailAdderssRef.touched)"
                style="text-align:left; color:red;">
                <div [hidden]="!emailAdderssRef.errors">
                  <p>&nbsp;Email is mandatory</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">

              <div class="form-floating mb-3">

                <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" #phoneNumberRef="ngModel"
                  ngModel [inputMask]="quotePhoneNumberInputMask" required>
                <label for="floatingInput">Phone Number</label>
              </div>
              <div *ngIf="phoneNumberRef.errors && (phoneNumberRef.dirty || phoneNumberRef.touched)"
                style="text-align:left; color:red;">
                <div [hidden]="!phoneNumberRef.errors">
                  <p>&nbsp;Phone Number is mandatory</p>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" ngx-google-places-autocomplete [options]="options"
                  (onAddressChange)="handleAddressChange($event)" name="address" #addressRef="ngModel" ngModel
                  required="" />
                <label for="floatingInput">Address</label>

              </div>
              <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)"
                style="text-align:left; color:red;">
                <div [hidden]="!addressRef.errors">
                  <p>&nbsp;Address is mandatory</p>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">

                <select class="form-select " name="serviceReq" id="floatingSelect"
                  aria-label="Floating label select example" required="" (change)="selectChangeHandler1($event)">

                  <option *ngFor="let opt of this.getAQuoteServicesReq" [value]="opt.label"
                    [selected]="opt.status == true" [disabled]="opt.label == 'Choose From Below'">
                    {{opt.label}}</option>
                </select>
                <div id="renovationReq">
                  <span class="pe-2 me-2" *ngFor="let revReq of this.selectedServiceRequiredGetQuote; let ind = index"
                    id="removeRev{{ind}}" id="">{{revReq}} <i class="fa fa-trash" aria-hidden="true"
                      (click)="removeRev(ind,revReq)"></i></span>
                </div>

                <label for="floatingSelect">Renovation(s) Required</label>

              </div>

            </div>
            <button type="submit" class="btn btn-vary1 mt-3" [disabled]="!getaQuoteForm.form.valid || this.selectedServiceRequiredGetQuote.length == 0">GET A FREE
              ESTIMATE</button>
          </div>

        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="icon-bar">
  <a href="tel:+1(647) 5601095" class="phone"><i class="fa fa-phone"></i></a>
</div>
