<app-flooring-navbar></app-flooring-navbar>
<app-page-intro head="How it works" subhead="The Process"></app-page-intro>


<section class="how-it-works">
  <div class="container">
    <div class="row fs-5 g-4">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">1.</span> Request an Estimate
        </h3>
        <p>Submit your request to us, and we will provide you with a quote that includes all the necessary costs.</p>
        <img src="../../../assets/img/flooring/one-team-quote.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">2.</span> Decide Whether to Hire Us
        </h3>
        <p>After reviewing the quote, you can decide whether or not to proceed with our services. We will discuss the next steps together.</p>
        <img src="../../../assets/img/flooring/two-review-scope.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">3.</span> Choose Your Flooring
        </h3>
        <p>Select from our extensive inventory of flooring materials to create the perfect look for your home.
        </p>
        <img src="../../../assets/img/flooring/three-flooring-materail.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">4.</span> Schedule Installation
        </h3>
        <p>
            We will work with you to determine the best start date for the installation based on your schedule and the estimated completion time.
            </p>
        <img src="../../../assets/img/flooring/four-select-date.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">5.</span> Installation Process
        </h3>
        <p>We will handle all aspects of the installation process, including preparation, implementation, and disposal.</p>
        <img src="../../../assets/img/flooring/five-floor-installation.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">6.</span> Enjoy Your New Floors
        </h3>
        <p>
            After installation, take advantage of our 5-year warranty for your new floors.
        </p>
        <img src="../../../assets/img/flooring/six-enjoy-new-floor.png" width="100%" alt="">
      </div>

    </div>
  </div>
</section>



<section class="our-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center">
          <div class="header-section pb-3">
            <h3 class="title">Which surface is best for you?</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center mb-3">
        <div class="col-xl-10 col-12">
            <p class="fs-5 text-center">When it comes to selecting the perfect surface for your flooring, there are several options available. Each surface has its unique features, benefits, and drawbacks, and it is essential to choose the one that best suits your needs and preferences.

            </p>
        </div>
      </div>
    </div>
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-one h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Engineered Wood Surfaces</h1>
  
            <div class="fs-5 pt-3">
              <p>Engineered hardwood floors are an excellent option for those looking for elegance and durability. These surfaces are resistant to temperature changes, and they can significantly increase the value of your home. However, they are also the most expensive flooring option.
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute right-half-two h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 py-5 pe-lg-5">
            <h1>Hardwood Flooring</h1>
  
            <div class="fs-5 pt-3">
              <p>Hardwood flooring is the most common flooring option and can provide a modern or traditional look, depending on the color. It is rich, genuine, and charming and can reduce the amount of floorboards needed by lining them up with the space.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-three h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Laminate Flooring</h1>
  
            <div class="fs-5 pt-3">
              <p>Laminate flooring is a type of synthetic flooring made of several layers of compressed materials, including fiberboard and resin. It has a hardwood or tile appearance, is cost-effective, and is easy to maintain. Additionally, it is resistant to fading, scratches, and stains.
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute right-half-four h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 py-5 pe-lg-5">
            <h1>Vinyl Flooring</h1>
  
            <div class="fs-5 pt-3">
              <p>Vinyl flooring is a synthetic version of wood, but it has several advantages. It is made of fiberglass and PVC, making it comfortable and long-lasting. Vinyl also has an attractive appearance and is less susceptible to dampness.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-five h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Carpeted Surfaces</h1>
  
            <div class="fs-5 pt-3">
              <p>
                Carpeted surfaces are soft and comfortable to walk on and are available in a wide range of colors and designs. We provide additional heating and a non-slip surface, and they can also help muffle sound.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container position-relative half-fluid">
        <div class="container">
          <div class="row">
    
            <!-- Image -->
            <div class="col-lg-6 position-lg-absolute right-half-six h-100">
              <div class="image"></div>
            </div>
    
            <!-- Text -->
            <div class="col-lg-6 py-5 pe-lg-5">
              <h1>Tiled Surfaces</h1>
    
              <div class="fs-5 pt-3">
                <p>Porcelain tile flooring is the most resilient and dense flooring option available. Porcelain tiles come in a variety of shapes, colors, and textures, providing a durable and versatile surface option.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   
  </section>

  <section class="request-a-quote">
    <div class="container">
      <div class="row d-flex  justify-content-center vh-100  align-items-center white">
        <div class="col-md-10 col-12 text-center justify-content-center ">   <div>
          <h1 class="text-uppercase">Appreciate Your New Flooring</h1>
          <p class="fs-5 mt-3 text-center">
            With so many options available, it's essential to choose the right flooring surface that meets your needs and budget. Once installed, you can enjoy your new flooring for years to come.
            </p>
       
          <a href="newleadintake" class="btn btn-vary1 mt-3">Get a FREE ESTIMATE</a>
         </div>
        </div>
      </div>
    </div>
  </section>
  
  
<app-contact-us></app-contact-us>