<app-simple-navbar></app-simple-navbar>
<app-page-intro head="Our Process" subhead="We transform your dreams in reality"></app-page-intro>


<section class="mtc-distinction">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="header-section pb-3">
          <h3 class="title">The MTC Distinction</h3>
        </div>
        <p class="fs-3">We make your desires come true. The professionals at MTC Renovations offer high-quality cellar
          finishing services throughout the Greater Toronto Area and its environs. We promise that you will be
          happy with the work we do for you, and we do high-quality work at prices you can afford.</p>
          <a href="basement/get-free-quote" class="btn btn-vary1 mt-3">Get Started</a>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="right">
          <div style="position: relative; overflow: hidden; white-space: nowrap;">
            <div style="position: absolute; left: 52.1009%; height: 100%; width: 0px; z-index: 1;">
              <div class="before-after-holder"></div>
            </div>
            <div
              style="display: inline-block; width: 100%; position: relative; vertical-align: middle; left: -47.8991%; overflow: hidden;">
              <div style="position: relative; right: -47.8991%; text-align: center;"><img
                  src="https://agmbasements.com/static/media/difference-after.2149fd3c.webp" width="100%"
                  alt="Difference After"></div>
            </div>
            <div
              style="display: inline-block; width: 100%; position: relative; vertical-align: middle; left: -47.8991%; overflow: hidden;">
              <div style="position: relative; right: 52.1009%; text-align: center;"><img
                  src="https://agmbasements.com/static/media/sketch.6035dc02.webp" width="100%" alt="Difference Sketch">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-difference">

</section>
<section class="our-approach">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">OUR APPROACH</h3>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-xl-6 col-md-12 col-12">
        <div class="approach-box bg-uniform pt-3 px-3 pt-md-5 px-md-5 text-left text-white ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">Identifying Your Requirements</h1>
            <p class="fs-5">Before starting any project, you should do a lot of research to make sure it
              will be a success. We take into consideration your desires for your basement living space.
              Do you want to create a gathering place for friends and family, such as a bar or
              entertainment area? Are you interested in a wine cellar, home gym, or home theater? Or
              perhaps you need a pantry or guest room? If you're looking for an apartment that generates
              income, we can help you with that too. Contact us, and we will start turning your vision
              into reality.</p>
          </div>

        </div>
      </div>
      <div class="col-xl-6 col-md-12 col-12">
        <div class="approach-box bg-light pt-3 px-3 pt-md-5 px-md-5 text-left ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">Design Center Consultation</h1>
            <p class="fs-5 fst-italic">Virtual Design Consultation</p>
            <p class="fs-5">
              Our experienced designers will look at your wish list and our extensive knowledge of
              basement design to come up with the most creative and useful 3D designs for your basement.
              You will have the opportunity to make adjustments in real-time, bringing your vision to
              life. They will give a full rundown of all the features and parts that come with our
              all-in-one package of high-quality building materials. Once the design is perfect, we will
              present the complete agreement and payment structure. We also provide affordable financing
              options.
            </p>
          </div>

        </div>
      </div>

      <div class="col-xl-12 col-md-12 col-12">
        <div class="approach-box bg-uniform pt-3 px-3 pt-md-5 px-md-5 text-left text-white ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">Early-Stage Inspection</h1>
            <p class="fs-5 fst-italic">Walk-Through Technical Inspection (Site Visit)</p>
            <p class="fs-5">
              Our designer and project manager will look at your space and design idea, as well as the
              layout of the plumbing, electrical, and mechanical systems. We will keep track of any
              changes or decisions made since the virtual design appointment that need to be made to the
              design. All of this information will be used to create the final design, which will serve as
              the construction project's manual.
            </p>
          </div>

        </div>
      </div>

      <div class="col-xl-5 col-md-12 col-12">
        <div class="approach-box bg-light pt-3 px-3 pt-md-5 px-md-5 text-left  ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">Choose Finishes</h1>

            <p class="fs-5">Our designers will help you choose from a wide range of premium finishes and
              add-ons to make your basement look and feel like you.</p>
          </div>

        </div>
      </div>

      <div class="col-xl-7 col-md-12 col-12">
        <div class="approach-box bg-uniform pt-3 px-3 pt-md-5 px-md-5 text-left text-white ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">The Build</h1>

            <p class="fs-5">Once your project manager is assigned, we are ready to begin. All materials
              needed for your project will be delivered and stored in a clean, secure environment. If
              needed, we can arrange for a storage container to be brought to your property. Our CC staff
              and your project manager will provide regular updates throughout the construction process.
            </p>
          </div>

        </div>
      </div>
      <div class="col-xl-6 col-md-12 col-12">
        <div class="approach-box bg-light pt-3 px-3 pt-md-5 px-md-5 text-left ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">Finishing the Project</h1>
            <p class="fs-5 fst-italic">Project Completion</p>
            <p class="fs-5">
              We guarantee your complete satisfaction. Our devoted handymen will promptly take care of any
              minor issues as a result of our warranty and commitment to you. We take pride in our work
              and love to capture photos of the completed project.
            </p>
          </div>

        </div>
      </div>

      <div class="col-xl-6 col-md-12 col-12">
        <div class="approach-box bg-uniform pt-3 px-3 pt-md-5 px-md-5 text-left  text-white ">
          <div class="my-3 py-3">
            <h1 class="fw-bold">Satisfied Clients</h1>
            <p class="fs-5 fst-italic">Add Your Name To Our Long List Of Happy Customers. </p>
            <p class="fs-5">See our Google Reviews of hundreds of happy clients if you don't believe us. In
              actuality, more than any of our rivals. We would be honored if you chose us to complete your
              basement renovation project because we give you the MTC Difference.</p>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>

<app-testimonials></app-testimonials>


<app-contact-us></app-contact-us>