<form class="jtwf" data-jobtread-web-form="true" data-key="22SRGahWRb6i4j5fGT5LvdZ5fneugY7DHr"
data-success-message="Thank you for reaching out! We will respond shortly!">
<div class="mx-auto min-w-0 max-w-sm rounded shadow bg-white">
    <div class="p-4 shadow-line-bottom"><img class="block max-w-full max-h-24 mx-auto"
            src="https://cdn.jobtread.com/G1IASBwHdkw8xHbou6bJa-TjapDhbsBRH22fOix9KRLz1ooI5FFUKgSUX8Jy-vAHkskwqqhzQltnoBUgoO1-voTz0K_Fu9xHBDkQzRk.92ElgW7giZgGLOEbVO8kwYWDn0SpK1peCNFP3DAoBJk?size=1024" />
    </div>
    <div class="p-4 space-y-2"><label class="cursor-pointer block">
            <div class="font-bold">Name 📛<span class="font-normal text-red-500">*</span></div><input
                class="rounded border p-2 w-full bg-white appearance-none transition hover:[&amp;:not(:focus-within)]:bg-gray-50 hover:[&amp;:not(:focus-within)]:border-gray-300 focus-within:bg-white focus-within:shadow focus-within:border-blue-500 focus-within:ring [&amp;::-webkit-date-and-time-value]:h-5"
                name="contact.name" type="text" required="" />
        </label><label class="cursor-pointer block">
            <div class="font-bold">Phone ☎️<span class="font-normal text-red-500">*</span></div><input
                class="rounded border p-2 w-full bg-white appearance-none transition hover:[&amp;:not(:focus-within)]:bg-gray-50 hover:[&amp;:not(:focus-within)]:border-gray-300 focus-within:bg-white focus-within:shadow focus-within:border-blue-500 focus-within:ring [&amp;::-webkit-date-and-time-value]:h-5"
                name="contact.custom.22NgpjG3zvMA" type="tel" required="" />
        </label><label class="cursor-pointer block">
            <div class="font-bold">Email 📧<span class="font-normal text-red-500">*</span></div><input
                class="rounded border p-2 w-full bg-white appearance-none transition hover:[&amp;:not(:focus-within)]:bg-gray-50 hover:[&amp;:not(:focus-within)]:border-gray-300 focus-within:bg-white focus-within:shadow focus-within:border-blue-500 focus-within:ring [&amp;::-webkit-date-and-time-value]:h-5"
                name="contact.custom.22NgpjFszPJj" type="email" required="" />
        </label><label class="cursor-pointer block">
            <div class="font-bold">Address 📍<span class="font-normal text-red-500">*</span></div><textarea
                class="rounded border p-2 w-full bg-white appearance-none transition hover:[&amp;:not(:focus-within)]:bg-gray-50 hover:[&amp;:not(:focus-within)]:border-gray-300 focus-within:bg-white focus-within:shadow focus-within:border-blue-500 focus-within:ring [&amp;::-webkit-date-and-time-value]:h-5"
                name="location.address" required=""></textarea>
        </label>
        <div class="block">
            <div class="font-bold">Renovation(s) Required? 🛠️</div>
            <div class="rounded border divide-y overflow-hidden"><label
                    class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP"
                        value="General Contracting" />
                    <div class="grow min-w-0">General Contracting</div>
                </label><label class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP" value="Basement" />
                    <div class="grow min-w-0">Basement</div>
                </label><label class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP" value="Bathroom" />
                    <div class="grow min-w-0">Bathroom</div>
                </label><label class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP" value="Kitchen" />
                    <div class="grow min-w-0">Kitchen</div>
                </label><label class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP"
                        value="Flooring/Stairs" />
                    <div class="grow min-w-0">Flooring/Stairs</div>
                </label><label class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP" value="Painting" />
                    <div class="grow min-w-0">Painting</div>
                </label><label class="flex gap-2 items-center p-2 hover:bg-gray-50 cursor-pointer block"><input
                        class="shrink-0" type="checkbox" name="account.custom.22NhBiK5NzYP" value="Roofing" />
                    <div class="grow min-w-0">Roofing</div>
                </label></div>
        </div>
        <div class="block">
            <div class="font-bold">How did You Hear About Us? 👂</div>
            <div class="text-gray-500">Choose one:</div><select
                class="rounded border p-2 w-full bg-white appearance-none transition hover:[&amp;:not(:focus-within)]:bg-gray-50 hover:[&amp;:not(:focus-within)]:border-gray-300 focus-within:bg-white focus-within:shadow focus-within:border-blue-500 focus-within:ring [&amp;::-webkit-date-and-time-value]:h-5"
                name="account.custom.22Nh8ReugeSg">
                <option></option>
                <option>Facebook</option>
                <option>Google</option>
                <option>Home Advisor</option>
                <option>Instagram</option>
                <option>Internet Search</option>
                <option>Referral</option>
            </select>
        </div><label class="cursor-pointer block">
            <div class="font-bold">Files 📱</div>
            <div class="text-gray-500">Please Upload Photos and Video of the Current Space</div><input
                class="rounded border p-2 w-full bg-white appearance-none transition hover:[&amp;:not(:focus-within)]:bg-gray-50 hover:[&amp;:not(:focus-within)]:border-gray-300 focus-within:bg-white focus-within:shadow focus-within:border-blue-500 focus-within:ring [&amp;::-webkit-date-and-time-value]:h-5"
                name="account.files" type="file" multiple="" />
        </label>
        <div class="text-right"><button
                class="text-right px-4 py-2 rounded shadow-sm cursor-pointer hover:brightness-95"
                data-submit-button="true" style="background-color:#a31314;color:#f6e7e8">Submit</button></div>
    </div>
</div>
</form>