<app-painting-navbar></app-painting-navbar>
<app-page-intro head="About Us" subhead="Your renovation, our expertise"></app-page-intro>

<section class="about-mtc">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12 text-center justify-content-center">
        <h1 class="text-uppercase">What Are We?</h1>

        <p class="fs-5 mt-3 text-center">
          Complete interior painting services are what we offer. Tens of thousands of houses have been painted by MTC Renovations since 2013. As the top renovators, we have a reputation for providing excellent interior painting, excellent customer service, and a team of expert painters who can give your house a fresh new appearance.
        </p>
        <a href="kitchen/get-free-quote" class="btn btn-vary1">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="more-about-info">
  <div class="container-fluid">

    <div class="row g-3">
      <div class="col-xl-6 col-md-12 col-12 fs-5 bg-uniform  text-left text-white py-5 px-3">
        <h3 class="text-uppercase">Our Principles and Promises</h3>
        <p class="fs-5 mt-3">
          At MTC Renovations, we are committed to excellence and customer satisfaction. We are highly rated on Google
          and HomeStars, which we attribute to our top talent, leadership, and dedication to quality control. We never
          work with independent freelancers, and every employee is an essential part of our team. Our primary values
          include teamwork, excellence, accountability, caring, and meeting deadlines.
        </p>
      </div>
      <div class="col-xl-6 col-md-12 col-12 bg-light  text-left fs-5  py-5 px-3">
        <h3 class="text-uppercase ">
          Over a Decade of experience to back it up
        </h3>
        <p class="fs-5 mt-3">With over two decades of experience in the industry, we have a track record of completing
          restroom renovations on schedule and within budget. In the home renovation sector, about 97.5% of projects are
          either over budget or completed late, but only 2.5% of projects are finished on schedule and without
          additional costs. As the oldest business in the field, we have a wealth of experience to back up our promise
          of completing bathroom renovations to the highest standard.</p>
      </div>
    </div>
  </div>

</section>

<section class="request-a-quote">
  <div class="container">
    <div class="row d-flex  justify-content-center vh-100  align-items-center white">
      <div class="col-md-10 col-12 text-center justify-content-center ">
       <div>
        <h1 class="text-uppercase">Get Your Quote</h1>

        <p class="fs-5 mt-3 text-center">
          MTC Renovations has made painting renovations simpler than ever. Call <a href="tel:+1(647) 5601095"
            class="white fw-bold text-decoration-none fs-4">(647) 560-1095</a> today to schedule your free
          consultation, you can choose all your finishes and get an instant estimate for
          your dream kitchen. We make the renovation process easy, enjoyable, and, most importantly, convenient for you.

        </p>
        <a href="kitchen/get-free-quote" class="btn btn-vary1">Get Started</a>
       </div>
      </div>
    </div>
  </div>
</section>
<app-testimonials></app-testimonials>

<app-contact-us></app-contact-us>