<app-bathroom-navbar></app-bathroom-navbar>
<app-page-intro head="About Us" subhead="Your renovation, our expertise"></app-page-intro>

<section class="about-mtc">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center justify-content-center">
        <h1>About MTC Renovations</h1>

        <p class="fs-5 mt-3">
          MTC Renovations is a full-service bathroom renovation company with over two decades of experience in the
          industry. We have successfully completed tens of thousands of unique bathroom projects since 1998, earning us
          a reputation as one of the top-rated renovators in the industry. Our team of professionals is dedicated to
          transforming outdated bathrooms into tranquil leisure retreats.

        </p>
        <a href="bathroom/get-free-quote" class="btn btn-vary1">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="more-about-info">
    <div class="container-fluid">
    
      <div class="row g-3">
        <div class="col-xl-6 col-md-12 col-12 fs-5 bg-uniform pt-3 px-3 pt-md-5 px-md-5 text-left text-white py-5">
          <h3>Our Principles and Promises</h3>
         <p class="fs-5">
            At MTC Renovations, we are committed to excellence and customer satisfaction. We are highly rated on Google and HomeStars, which we attribute to our top talent, leadership, and dedication to quality control. We never work with independent freelancers, and every employee is an essential part of our team. Our primary values include teamwork, excellence, accountability, caring, and meeting deadlines.
            </p>
        </div>
        <div class="col-xl-6 col-md-12 col-12 bg-light pt-3 px-3 pt-md-5 px-md-5 text-left fs-5">
          <h3>
            Decades of experience to back it up
            </h3>
          <p class="fs-5">With over two decades of experience in the industry, we have a track record of completing restroom renovations on schedule and within budget. In the home renovation sector, about 97.5% of projects are either over budget or completed late, but only 2.5% of projects are finished on schedule and without additional costs. As the oldest business in the field, we have a wealth of experience to back up our promise of completing bathroom renovations to the highest standard.</p>
        </div>
      </div>
    </div>
  
  </section>

  <section class="request-a-quote">
    <div class="container">
      <div class="row d-flex  justify-content-center vh-100  align-items-center white">
        <div class="col-md-10 col-12 text-center justify-content-center ">
       <h1 class="text-uppercase">Request a quote</h1>
  
          <p class="fs-5 mt-3">
            MTC Renovations has made bathroom renovations simpler than ever. With our 3D Design Creator, you can choose all your finishes and get an instant estimate for your dream bathroom. We make the renovation process easy, enjoyable, and, most importantly, convenient for you.
  
          </p>
          <a href="bathroom/get-free-quote" class="btn btn-vary1">Get Started</a>
        </div>
      </div>
    </div>
  </section>
  
  
<app-testimonials></app-testimonials>

  
<app-contact-us></app-contact-us>