
<app-bathroom-navbar></app-bathroom-navbar>
<app-page-intro head="How it works" subhead="The Process"></app-page-intro>


<section class="how-it-works">
  <div class="container">
    <div class="row fs-5 g-4 justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">1.</span> Assess Your Current Bathroom
        </h3>
        <p>Start by giving us some basic details about your current bathroom.
        </p>
        <img src="../../../assets/img/bathroom/one-start.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">2.</span> Explore Fixtures and Features
        </h3>
        <p>Browse through our collection of luxurious fixtures, flooring, and finishes to select your favorites.</p>
        <img src="../../../assets/img/bathroom/two-browse-fixtures" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">3.</span> Create your dream bathroom
        </h3>
        <p>Choose from the available options and combine them to build your dream bathroom.</p>
        <img src="../../../assets/img/bathroom/three-dream-bathroom.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">4.</span> Get an Instant Quote
        </h3>
        <p>Once you've finalized your bathroom plan, receive an instant and hassle-free quote.

        </p>
        <img src="../../../assets/img/bathroom/four-quote.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">5.</span> Get an Instant Quote
        </h3>
        <p>Once you've finalized your bathroom plan, receive an instant and hassle-free quote.
        </p>
        <img src="../../../assets/img/bathroom/five-schedule-date.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">6.</span> Select a Start Date
        </h3>
        <p>Choose a convenient start date for our MTC team to begin remodeling your bathroom.
        </p>
        <img src="../../../assets/img/bathroom/six-feel-touch.jpg" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">7.</span> Inspect Your Materials
        </h3>
        <p>We'll deliver all the materials and finishes to your home so you can examine them and make any necessary
          adjustments.</p>
        <img src="../../../assets/img/bathroom/seven-inspect" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">8.</span> Construction Begins
        </h3>
        <p>Our skilled team will begin constructing your custom-designed bathroom on schedule and within your budget.
        </p>
        <img src="../../../assets/img/bathroom/eight-constrcution.png" width="100%" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">9.</span> Enjoy Your New Bathroom
        </h3>
        <p>In just two weeks, you'll have your ideal bathroom, completely customized to your specifications.</p>
        <img src="../../../assets/img/bathroom/nine-enjoy.png" width="100%" alt="">
      </div>
    </div>
  </div>
</section>



<section class="our-services">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">What are your options for using our Advanced 3D Creator?</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center mb-3">
      <div class="col-xl-10 col-12">
        <p class="fs-5">Design in 3D View your area in 3D by uploading the dimensions of your bathroom. From this point,
          it's simple to select the fixtures, flooring, and finishes you want to quickly create your ideal bathroom.</p>
      </div>
    </div>
  </div>
  <div class="container position-relative half-fluid">
    <div class="container">
      <div class="row">

        <!-- Image -->
        <div class="col-lg-6 position-lg-absolute left-half-one h-100">
          <div class="image"></div>
        </div>

        <!-- Text -->
        <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
          <h1>Ready-to-Order Tiles</h1>

          <div class="fs-5 pt-3">
            <p>Browse our collection of beautiful tiles and carpeting that are ready to order.

              Use the 3D Creator to swap out different tiles and see how your design changes instantly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container position-relative half-fluid">
    <div class="container">
      <div class="row">

        <!-- Image -->
        <div class="col-lg-6 position-lg-absolute right-half-two h-100">
          <div class="image"></div>
        </div>

        <!-- Text -->
        <div class="col-lg-6 py-5 pe-lg-5">
          <h1>Luxurious Showers</h1>

          <div class="fs-5 pt-3">
            <p>Choose from a range of shower styles to create a spa-like experience in your home.
                Options include hidden showers, exposed rain showers, waterfall showers, and more. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container position-relative half-fluid">
    <div class="container">
      <div class="row">

        <!-- Image -->
        <div class="col-lg-6 position-lg-absolute left-half-three h-100">
          <div class="image"></div>
        </div>

        <!-- Text -->
        <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
          <h1>Modern Tubs</h1>

          <div class="fs-5 pt-3">
            <p>Browse through our collection of freestanding and built-in tubs to redefine relaxation. We offer a variety of baths to fit bathrooms of all sizes and shapes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container position-relative half-fluid">
    <div class="container">
      <div class="row">

        <!-- Image -->
        <div class="col-lg-6 position-lg-absolute right-half-four h-100">
          <div class="image"></div>
        </div>

        <!-- Text -->
        <div class="col-lg-6 py-5 pe-lg-5">
          <h1>Stylish Faucets and Fixtures</h1>

          <div class="fs-5 pt-3">
            <p>Add the perfect faucets and fittings to complete your custom bathroom design.
                Tap to change features or combine various styles to create your ideal bathroom.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container position-relative half-fluid">
    <div class="container">
      <div class="row">

        <!-- Image -->
        <div class="col-lg-6 position-lg-absolute left-half-five h-100">
          <div class="image"></div>
        </div>

        <!-- Text -->
        <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
          <h1>Luxury Toilets</h1>

          <div class="fs-5 pt-3">
            <p>View our extensive collection of luxury toilets that come with a range of features and add-ons.
                Options include dual-flush toilets, water-efficient models, waterless toilets, and bidets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container position-relative half-fluid">
    <div class="container">
      <div class="row">

        <!-- Image -->
        <div class="col-lg-6 position-lg-absolute right-half-six h-100">
          <div class="image"></div>
        </div>

        <!-- Text -->
        <div class="col-lg-6 py-5 pe-lg-5">
          <h1>Chic Vanities & Storage</h1>

          <div class="fs-5 pt-3">
            <p>Choose a reversible vanity to serve as the focal point of your bathroom decor.

                Upgrade with fixtures and features to increase space and storage.
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<section class="request-a-quote">
  <div class="container">
    <div class="row d-flex  justify-content-center vh-100  align-items-center white">
      <div class="col-md-10 col-12 text-center justify-content-center ">    <div>
          <h1 class="text-uppercase">Endless Bathroom Remodel Options</h1>
          <p class="fs-5 mt-3 text-center">
            No matter the size or scope of your project, we have an affordable solution for you.
          </p>

          <a href="bathroom/get-free-quote" class="btn btn-vary1 mt-3">Get a Free Quote</a>
        </div>
      </div>
    </div>
  </div>
</section>



<app-contact-us></app-contact-us>