<app-simple-navbar></app-simple-navbar>
<app-page-intro head="Financing Info and FAQ" subhead=""></app-page-intro>

<section class="project-financing">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="fs-5">
          <h4 class="fw-bold">PROJECT FINANCING PROCESS AND FAQs</h4>
          <p>The financing for the home renovation project is provided through our financial partner, <a
              href="https://www.financeit.io/" target="_blank">Financeit</a>.</p>
          <p>This is the process to be followed:</p>

          <ul>
            <li>Please press <a  href="https://www.financeit.io/" target="_blank">here</a> to access the <span><a  href="https://www.financeit.io/" target="_blank">Financeit</a></span> application form.
              Please keep in mind that your
              credit application can only be considered if it is filed no later than 24 hours after the agreement is
              signed.</li>
            <li>After you submit the application form, <span><a  href="https://www.financeit.io/" target="_blank">Financeit</a></span> will send you an email
              letting you know whether or not
              the credit has been approved.</li>
            <li>If accepted, you will see the loan's specifics, including the approved loan amount, the monthly payment,
              the loan's term, the amortization schedule, etc.</li>
            <li>Only <span><a  href="https://www.financeit.io/" target="_blank">Financeit</a></span> will be aware of the decision-making process if the credit is
              denied. If you have any
              questions about the justification for rejecting the loan application, feel free to contact them.</li>
          </ul>
        </div>
        <div class="fs-5 mt-5">
          <h4 class="fw-bold text-uppercase">Frequently Asked Questions (FAQs) for MTC Renovations Home Renovation Loan
          </h4>
          <div class="accordion mt-3" id="accordionExample">

            <div class="accordion-item ">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Loan Type: What type of loan will I receive?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  The loan granted is a <span class="fw-bold">HOME RENOVATION LOAN</span>, and only the registered
                  homeowner on the title of the
                  property can apply for this loan. A Home Ownership Verification (HOV) task will need to be fulfilled
                  by <span><a  href="https://www.financeit.io/" target="_blank">Financeit</a></span>.

                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Co-borrower: Will a co-borrower be required?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  If you are not eligible for the full amount requested, a co-borrower may be added. This person does
                  not have to be registered in the title of the property.

                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Required Documentation: What type of documentation is required?

                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Proof of income (last pay slip or latest T4) is required by both the principal applicant and the
                  co-borrower (if applicable).
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Documentation Submission: Where should I submit my documentation?

                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  The mentioned documentary evidence is to be uploaded within the <span><a  href="https://www.financeit.io/" target="_blank">Financeit</a></span>
                  application, which is the
                  link that you receive via email once you have filled in the form for the loan application.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Early Payment: Is it possible to pay off the loan at any moment?

                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Yes, the Home Renovation Loan via <span><a  href="https://www.financeit.io/" target="_blank">Financeit</a></span> is an open loan, which means
                  that it may be paid off at
                  any point in time without incurring any penalties.

                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Payment Process: How will MTC Renovations receive the payments?

                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  The payments for the basement renovation project will be addressed from <span><a
                       href="https://www.financeit.io/" target="_blank">Financeit</a></span> to MTC Renovations
                  throughout the execution of the project.

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Payment Schedule: When will I begin to pay my loan?
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Once the project has been completed, your relationship and your payments with <span><a
                       href="https://www.financeit.io/" target="_blank">Financeit</a></span> will begin.
                  You are to pay a monthly installment of xxx, depending on the amount of the loan and the amortization
                  period.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Additional Fees: Will there be any additional fees ?
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  This Home Renovation Loan comes with a 3.25% fee that will be deducted from each one of the three
                  funded amounts addressed to cover your project.

                  If you have any further questions, please reach out to Tosan Awani, <span><a
                       href="https://www.financeit.io/" target="_blank">Financeit</a></span> Partner, at (416)
                  433-5887.

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-contact-us></app-contact-us>