<app-simple-navbar></app-simple-navbar>
<app-page-intro head="MTC's EXCLUSIVE OFFER" subhead="Price Match Guarantee!"></app-page-intro>

<section class="why-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
              <div class="fs-5">
                <p>MTC Renovations aims to provide its clients with the best possible service by using high-quality materials and completing projects on time. The company makes the following commitments to ensure transparency and honesty:</p>
                <ul  class="checkmark">
                    <li><img src="../../../assets/img/icons8-done-red.svg" width="25" alt=""><span class="ms-3 text-bold">Guaranteed Quoted Price:</span> MTC Renovations guarantees that the quoted price for a renovation project will not change as long as the chosen area of work remains the same. Any extra expenses will be covered by the company, not the client.</li>
                    <li><img src="../../../assets/img/icons8-done-red.svg" width="25" alt=""><span class="ms-3 text-bold">Timeline Guarantee:</span> MTC Renovations is committed to completing projects on time and promises to pay $100 for each working day that the project is delayed. This guarantee applies as long as the project's scope or selections are not changed during the renovation. This guarantee is only valid for contracts made after January 1, 2023.</li>
                    <li><img src="../../../assets/img/icons8-done-red.svg" width="25" alt=""><span class="ms-3 text-bold">5-Year Unlimited Warranty:</span> MTC Renovations offers a 5-year unlimited warranty to guarantee the quality of its work and materials.</li>
                    <li><img src="../../../assets/img/icons8-done-red.svg" width="25" alt=""><span class="ms-3 text-bold">Price Match Promise:</span> MTC Renovations promises to match the price of any competitor who provides a lower quote and is willing to put the claim in writing.</li>
                </ul>
                <div class=" text-center">
                    <a href="basement/get-free-quote" class="btn btn-vary1">GET FREE CONSULTATION</a>
                 </div>
              </div>
             
            </div>
        </div>
    </div>
</section>


<app-testimonials></app-testimonials>
<app-contact-us></app-contact-us>