.why-us {
  padding: 80px 0;
}

li {
  list-style-type: none !important;
}

ul {
  margin-bottom: 20px;
  margin-left: 10px;
}
ol, ul {
padding: 0 !important;
}
li{
  padding: 0 0 15px 0;
}


ul.checkmark .text-bold {
  font-weight: 900;
  color: rgb(0, 0, 0);
}
