<app-bathroom-navbar></app-bathroom-navbar>
<section class="bathroom">
  <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
    <div class="row container d-flex justify-content-right align-items-center intro-cont" data-scrollax-parent="true">
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 text-left">
        <h1 class="mb-4">Bathroom Renovations</h1>
        <h2 class="subheading mb-4">We Specializes in Improving Bathrooms to Create a Relaxing and Refreshing Sanctuary.
        </h2>
        <!-- <a href="#services">
          <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a> -->
        <a href="newleadintake"  target="_blank" class="btn btn-vary1" target="_blank">GET A FREE ESTIMATE</a>
      </div>
    
    </div>
  </div>
</section>

<section class="bathroom-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-12 text-center justify-content-center">
        <h1 class="text-capitalize">The Easiest Method for Getting Quotes, Designs, and renovating your bathroom</h1>

        <p class="fs-5 mt-3 text-center">MTC Renovations offers a convenient online process where you can select your preferred
          materials without leaving your home. We will deliver all the materials to your doorstep, allowing you to
          touch and feel them before making a decision. If you prefer a more personalized approach, you can schedule a
          meeting at one of their design centers to work with their designer and get a comprehensive estimate.
        </p>

        <a href="newleadintake" class="btn btn-vary1 mt-3">Get Started</a>
      </div>
    </div>
  </div>
</section>


<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">How It Works</h3>
        </div>
      </div>
    </div>
    <div class="row g-3 fs-5 text-center justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/bathroom/home-one-design.png" class="mb-3"  alt="">
        <h3 class="text-capitalize pb-2 fw-bold">design your bathroom </h3>
        <p class="text-center">Design your bathroom with the help of our experts who can provide recommendations based on your specific needs. Browse through a collection of luxury bathroom fixtures and accessories and get an instant quote in minutes.</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img  src="../../../assets/img/bathroom/home-two-feel-and-touch.png" class="mb-3"  alt="">
        <h3  class="text-capitalize pb-2 fw-bold">Experience the materials</h3>
        <p class="text-center">We'll bring all the materials to your doorstep for you to feel and touch. Get a better sense of the fixtures
          and finishes.

        </p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img  src="../../../assets/img/bathroom/home-three-construction-begins.png" class="mb-3" alt="">
        <h3  class="text-capitalize pb-2 fw-bold">Efficient construction process</h3>
        <p class="text-center"> Our team of experts will begin the transformation of your bathroom. Within three weeks, your new bathroom
          will be built exactly the way you want it.
        </p>
      </div>
    </div>
  </div>
</section>


<app-testimonials></app-testimonials>

<section class="ready-to-get-started">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-lg-0 mb-4 fs-5">
        <div class="header-section">
          <h3 class="title ">Are you prepared to begin?</h3>
          <h2 class="small-title ">Selecting MTC Renovations ensures..</h2>

          <ul class="">
            <li>Comfortable Installation from the Convenience of Your Home</li>
            <li>10+ Years of Guaranteed Expertise</li>
            <li>Guaranteed Three-Week Installation</li>
            <li>Unlimited 5-Year Warranty

            </li>
          </ul>
          <a href="newleadintake" class="btn btn-vary1 mt-3">GET A FREE ESTIMATE</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
        <!-- <img src="../../../assets/img/ad-man.png" alt=""> -->
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>
