<app-bathroom-navbar></app-bathroom-navbar>
<section class="bathroom">
  <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center intro-cont" data-scrollax-parent="true">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-left">
        <h1 class="mb-4">Bathroom Renovations</h1>
        <h2 class="subheading mb-4">We specializes in improving Bathrooms to create a relaxing and refreshing sanctuary
        </h2>
        <!-- <a href="#services">
          <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a> -->
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
        <div class="get-quote-form p-4 text-center">
          <form #getaQuoteForm="ngForm" (ngSubmit)="quoteFormData(getaQuoteForm)" class="needs-validation"
            novalidate="">
            <div class="text-center mb-3">
              <h4>GET A FREE ESTIMATE TODAY</h4>

            </div>

            <div class="row g-3">
              <div class="col-sm-12 ">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" name="yourName" #yourNameRef="ngModel"
                    ngModel required />
                  <label for="floatingInput">Your Name</label>

                </div>
                <div *ngIf="yourNameRef.errors && (yourNameRef.dirty || yourNameRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!yourNameRef.errors">
                    <p>&nbsp;Your Name is mandatory</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" name="email" #emailAdderssRef="ngModel"
                    ngModel required />
                  <label for="floatingInput">Email</label>
                </div>
                <div *ngIf="emailAdderssRef.errors && (emailAdderssRef.dirty || emailAdderssRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!emailAdderssRef.errors">
                    <p>&nbsp;Email is mandatory</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">

                <div class="form-floating mb-3">

                  <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" #phoneNumberRef="ngModel"
                    ngModel [inputMask]="quotePhoneNumberInputMask" required>
                  <label for="floatingInput">Phone Number</label>
                </div>
                <div *ngIf="phoneNumberRef.errors && (phoneNumberRef.dirty || phoneNumberRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!phoneNumberRef.errors">
                    <p>&nbsp;Phone Number is mandatory</p>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating mb-3">
                  <input class="form-control" id="floatingInput" ngx-google-places-autocomplete [options]="options"
                    (onAddressChange)="handleAddressChange($event)" name="address" #addressRef="ngModel" ngModel
                    required="" />
                  <label for="floatingInput">Address</label>

                </div>
                <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!addressRef.errors">
                    <p>&nbsp;Address is mandatory</p>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating mb-3">

                  <select class="form-select " name="serviceReq" id="floatingSelect"
                    aria-label="Floating label select example" required="" (change)="selectChangeHandler1($event)">

                    <option *ngFor="let opt of this.getAQuoteServicesReq" [value]="opt.label"
                      [selected]="opt.status == true" [disabled]="opt.label == 'Choose From Below'">
                      {{opt.label}}</option>
                  </select>
                  <div id="renovationReq">
                    <span class="pe-2 me-2" *ngFor="let revReq of this.selectedServiceRequiredGetQuote; let ind = index"
                      id="removeRev{{ind}}" id="">{{revReq}} <i class="fa fa-trash" aria-hidden="true"
                        (click)="removeRev(ind,revReq)"></i></span>
                  </div>

                  <label for="floatingSelect">Renovation(s) Required</label>

                </div>

              </div>
              <button type="submit" class="btn btn-vary1 mt-1" [disabled]="!getaQuoteForm.form.valid">GET A FREE ESTIMATE</button>
            </div>

          </form>
        </div>
        <div class="free-quote-modal">
          <a href="bathroom/get-free-quote"  class="btn btn-vary1 ">Free consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bathroom-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-12 text-center justify-content-center">
        <h1 class="text-capitalize">The Easiest Method for Getting Quotes, Designs, and renovating your bathroom</h1>

        <p class="fs-5 mt-3 text-center">MTC Renovations offers a convenient online process where you can select your preferred
          materials without leaving your home. They will deliver all the materials to your doorstep, allowing you to
          touch and feel them before making a decision. If you prefer a more personalized approach, you can schedule a
          meeting at one of their design centers to work with their designer and get a comprehensive estimate.
        </p>

        <a href="bathroom/get-free-quote" class="btn btn-vary1 mt-3">Get Started</a>
      </div>
    </div>
  </div>
</section>


<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="header-section pb-3">
          <h3 class="title">How It Works</h3>
        </div>
      </div>
    </div>
    <div class="row g-3 fs-5 text-center justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="../../../assets/img/bathroom/home-one-design.png" class="mb-3" width="100%" height="240px" alt="">
        <h3 class="text-capitalize pb-2">design your bathroom hassle free</h3>
        <p class="text-center">Design your bathroom with the help of our experts who can provide recommendations based on your specific needs. Browse through a collection of luxury bathroom fixtures and accessories and get an instant quote in minutes.</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img  src="../../../assets/img/bathroom/home-two-feel-and-touch.png" class="mb-3" width="100%" height="240px" alt="">
        <h3  class="text-capitalize pb-2">Experience the materials</h3>
        <p class="text-center">We'll bring all the materials to your doorstep for you to feel and touch.Get a better sense of the fixtures
          and finishes.

        </p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img  src="../../../assets/img/bathroom/home-three-construction-begins.png" class="mb-3" width="100%" height="240px"alt="">
        <h3  class="text-capitalize pb-2">Efficient construction process</h3>
        <p class="text-center"> Our team of experts will begin the transformation of your bathroom. Within three weeks, your new bathroom
          will be built exactly the way you want it.
        </p>
      </div>
    </div>
  </div>
</section>


<app-testimonials></app-testimonials>

<section class="ready-to-get-started">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-lg-0 mb-4 fs-5">
        <div class="header-section">
          <h3 class="title white">Are you prepared to begin?</h3>
          <h2 class="small-title white">Selecting MTC Renovations ensures..</h2>

          <ul class="white">
            <li>Comfortable Installation from the Convenience of Your Home</li>
            <li>10+ Years of Guaranteed Expertise</li>
            <li>Guaranteed Three-Week Installation</li>
            <li>Unlimited 5-Year Warranty

            </li>
          </ul>
          <a href="bathroom/get-free-quote" class="btn btn-vary1 mt-3">GET A FREE ESTIMATE</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/ad-man.png" alt="">
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>
