<section class="testimonials ">
  <div class="container ">
    <div class="row gx-lg-5 gx-sm-2">
      <div class="col-lg-5 col-md-12 col-12 order-lg-2  my-auto left-content  text-white" data-aos="zoom-in"
        data-aos-duration="1200" data-aos-delay="200">
        <div class="mb-4 mb-md-4 mb-lg-0">
          <a href="/" >
            <img src="../../../assets/img/google.png" class="" alt="" width="250px" />
            <h1 class="intro-sub-head mt-4"><span>
                  50+ Happy Clients</span></h1>
              <h1 class="fs-1 mt-2">What’s
                Our Client Say
                About Us</h1>
          </a>
           
        </div>

      </div>
      <div class="col-lg-7 col-md-12 col-12  order-lg-1 my-auto my-auto mx-auto right-content ">

        <marquee direction="up" scrollamount="3" height="300px" loop>
          <div class="row justify-content-center mx-lg-5 mx-2 gx-lg-3 gy-lg-3 gx-2 gy-2">
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Emily and John</h5>

                <p class="text">We are absolutely thrilled with our basement renovation! The service was friendly and approachable, and we highly recommend MTC Renovations for their excellent work.</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex  ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">

                <h5 class="title fw-bold my-2">Jacob Taylor</h5>
                <p class="text">We had read great reviews about MTC Renovations, and we were not disappointed. The customer service experience was fantastic from start to finish. Highly recommended. </p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Olivia Williams</h5>
                <p class="text">Wow, MTC Renovations exceeded all our expectations! They provided incredible service and top-quality work. We would recommend them to all of our friends and family.</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Sophie and Emma</h5>

                <p class="text">Working with MTC Renovations was a breeze! They were easy to work with and offered very reasonable prices. The final result was a beautifully renovated basement that we love.</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Ryan Lee</h5>
                <p class="text">I was pleasantly surprised by the affordable price and quick turnaround time from MTC Renovations. The workmanship was top-notch, and I would highly recommend them to anyone.</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Tyler and Samantha</h5>
                <p class="text">We were blown away by the craftsmanship and service provided by MTC Renovations. The price was also very reasonable. We highly recommend them to anyone looking to renovate their basement.</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Grace Johnson</h5>
                <p class="text">MTC Renovations provides the best possible value for the money. The staff was extremely professional, and the workmanship was excellent. I recommend them to everyone.</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 d-flex ">
              <div class="bg-white p-4 rounded-3 apps-card fs-5">
                <h5 class="title fw-bold my-2">Connor Davis</h5>
                <p class="text">After receiving multiple quotes, we chose MTC Renovations because of their price and fast delivery time. We are so glad we did—we now have a beautiful basement to enjoy.</p>
              </div>
            </div>
          
          </div>
        </marquee>
      </div>

    </div>

  </div>
</section>
