/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Spectral', serif;
    --navbar-scroll: transparent;
    --navbar-scroll-text: #000;
    --navbar-scroll-shadow: none;
    --navlink-scroll-text: #000;
}

p{
    text-align: justify;
}

.white {
    color: #ffff;
  }


.bg-uniform{
    background: #c0202f;
     /* linear-gradient(to right, #e16521, #bf1e2e); */
}


.navbar {
    background-color: var(--navbar-scroll);
    transition: background-color 1s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
}

.nav-link {
    color: var(--navlink-scroll-text);
}

.nav-link:hover {
    color: #1f66a7;
}

.navbar-toggler {
    color: var(--navlink-scroll-text);
}

a {
    color: black;
}


.header-section {
    margin-bottom: 10px;
}

.header-section .title {
    margin-bottom: 18px;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    text-transform: uppercase;
    color: #bf1e2e;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif !important;
}

@media screen and (max-width: 600px) {
    .header-section .title {
        font-size: 35px;
    }
}


.header-section .small-title {
    font-size: 28px;
    /* font-family: "Nunito Sans", sans-serif; */
    color: #bf1e2e;
    font-weight: 400;
    line-height: 38px;
    margin: 0px 0px 15px;
    text-transform: capitalize;
}


.btn {
    /* border-radius: 30px !important; */
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 48px !important;
    padding: 0 40px !important;
    text-align: center !important;
    transition: all .3s ease-in-out !important;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

}

.btn-vary1 {
    background: linear-gradient(to right, #e16521, #bf1e2e);
}

.btn-vary1:hover {
    background: linear-gradient(to right, #e16421a6, #bf1e2e);
}
.modal { z-index: 1001 !important;} 
.modal-backdrop {z-index: 1000 !important;}
.pac-container {z-index: 1055 !important;}

.more-about-info p{
    text-align: left !important;
}