<app-painting-navbar></app-painting-navbar>
<app-page-intro head="How it works" subhead="The Process"></app-page-intro>


<section class="how-it-works">
  <div class="container">
    <div class="row fs-5 g-4">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
          <span class="number">1.</span> Get a Free Estimate
        </h3>
        <p>Request a quote from us, and we'll provide you with an accurate estimate based on your specific painting
          needs. </p>
        <img src="../../../assets/img/painting/one-free-quote.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">2.</span> Schedule Start Date
        </h3>
        <p>Pick a start date that works best for you, and we'll make sure to schedule our painting crew accordingly.</p>
        <img src="../../../assets/img/painting/two-start-date.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">3.</span> Paint Color Selection
        </h3>
        <p>Our interior designers will help you choose from a wide range of premium Sherwin Williams paints to find the
          perfect color scheme for your home's walls.
        </p>
        <img src="../../../assets/img/painting/three-painy-colors.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">4.</span> Painting Process
        </h3>
        <p>Our painting crew will protect your floors, fix any wall imperfections, and apply the first layer of paint to
          give your walls a fresh look.</p>
        <img src="../../../assets/img/painting/four-paint-commence.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">5.</span> Cleanup
        </h3>
        <p>We take pride in leaving your home spotless after finishing the job, so you can enjoy your newly painted
          space without any hassle.</p>
        <img src="../../../assets/img/painting/five-clean-up.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <h3 class="fw-bold">
            <span class="number">6.</span> Enjoy Your Newly Painted Home
        </h3>
        <p>
          Now that your home is freshly painted, it's time to invite your friends and family over and show off your
          newly decorated space.
        </p>
        <img src="../../../assets/img/painting/six-enjoy-new-home.png" alt="">
      </div>

    </div>
  </div>
</section>



<section class="our-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center">
          <div class="header-section pb-3">
            <h3 class="title">Types of Paint Finishes and Their Characteristics</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-one h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Flat Paint</h1>
  
            <div class="fs-5 pt-3">
              <p>Flat paint has a non-reflective surface and is perfect for hiding surface imperfections. Its matte finish makes the pigment more visible and provides a uniform surface. It is a great option for ceilings and walls that don't require frequent cleaning.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute right-half-two h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 py-5 pe-lg-5">
            <h1>Eggshell Paint</h1>
  
            <div class="fs-5 pt-3">
              <p>Eggshell paint has a slight sheen and a velvety texture that gives walls a subtle glow. It is more durable than flat paint and can be easily cleaned, making it ideal for high-traffic areas. It is a popular choice among both DIYers and professionals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-three h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Pearl Paint</h1>
  
            <div class="fs-5 pt-3">
              <p>Pearl paint has a medium-gloss finish that is both durable and easy to clean. It provides a subtle shimmer that adds dimension to walls and trims, making it a great option for busy areas. Regal® Select Interior Pearl (K550) is a popular choice that offers mildew resistance for high-humidity regions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute right-half-four h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 py-5 pe-lg-5">
            <h1>Satin Paint</h1>
  
            <div class="fs-5 pt-3">
              <p>Satin paint has a soft sheen that is more pronounced than eggshell, making it a popular choice for bathrooms and kitchens. It is more durable and stain-resistant than eggshell, making it easier to clean. Satin paint can be used on walls, trims, and doors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container position-relative half-fluid">
      <div class="container">
        <div class="row">
  
          <!-- Image -->
          <div class="col-lg-6 position-lg-absolute left-half-five h-100">
            <div class="image"></div>
          </div>
  
          <!-- Text -->
          <div class="col-lg-6 offset-lg-6 py-5 ps-lg-5">
            <h1>Semi-Gloss Paint</h1>
  
            <div class="fs-5 pt-3">
              <p>
                Semi-gloss paint has a luminous appearance that is perfect for highlighting architectural features, such as doors, millwork, and trims. It is highly durable and easy to clean, making it a great option for high-traffic areas. Semi-gloss paint is more reflective than satin and eggshell finishes.
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </section>

  <section class="request-a-quote">
    <div class="container">
      <div class="row d-flex  justify-content-center vh-100  align-items-center white">
        <div class="col-md-10 col-12 text-center justify-content-center ">
         <div>
          <h1 class="text-uppercase">Enjoy Your Home's Fresh New Look!</h1>
  
       
          <a href="newleadintake" class="btn btn-vary1 mt-3">Get a FREE ESTIMATE</a>
         </div>
        </div>
      </div>
    </div>
  </section>
  
<app-contact-us></app-contact-us>